.header {
  width: 100vw;
  color: #706eff;
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;

  .text {
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: 900;
  }
}
